body {
  background: #34495e;
  font-family: sans-serif;
  height: 100%;
  margin: auto;
}
h1 {
  color: pink;
}
h2 {
  color: silver;
}

.container {
  max-width: 1080px;
  margin:0 auto;
  height: 100%;
}
p {
  color: pink;
}

#userInput { /* Text field for new items */
  background: #CAE9FF;
  color: ##6F808C;
  border: 2px solid #6F808C;
  height: 30px;
  width: 20%;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  transition: all .2s;
}
#hr: first-child {
  text-decoration: underline;
}


}
.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}